.root {
  position: relative;
  width: 100%;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: var(--space-5);
}

.staticList {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.staticItem {
  width: 100%;
}
